<%- include("../partials/header.ejs") %>
<div class="container mt-5">
  <h1 style="text-align: center">Edit comments </h1>
  <div class="row">
    <div style="width: 30%; margin: 25px auto;">
      <form action="/plants/<%= plant_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-success btn-block">Submit!</button>
        </div>
      </form>
      <div class="mt-3 text-muted text-center">
        <small>
          
          <a href="/plants">Go Back</a>
        </small>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>